<!DOCTYPE html>
<html>
  <head>
    <title>Will</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 
    <script src="https://kit.fontawesome.com/2ec2a30cc1.js" crossorigin="anonymous"></script> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'><link rel="stylesheet" href="./style.css">
  </head>

  <body>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script><script  src="./script.js"></script>
    <div class="h-100 d-flex flex-column" style="min-height">
      <div class="head_blank">
        <%= render 'layouts/notifications' %>
        <%= render partial: "shared/modal" %>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
