<!DOCTYPE html>
<html>
  <head>
    <title>Will</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- favicon -->
    <%= favicon_link_tag('favicon.ico') %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- calendar -->
    <link rel="stylesheet" href="./calendar.css">
    
    <!-- todolist -->
    <link rel="stylesheet" type="text/css" href="./todolist/todolist.css">

  </head>

  <body>
    <!-- favicon(notification_count) -->
    <script>
    var notification_count = 0;

    var link_tag = document.getElementById("favicon");

    if (notification_count > 0) {
      link_tag.href = "/favicon_d.ico";
    } else {
      link_tag.href = "/favicon.ico";
    }
    </script>

    <!-- SNS icons -->
    <head>
      <script src="https://kit.fontawesome.com/2ec2a30cc1.js" crossorigin="anonymous"></script> 
    </head>

    <head>
      <!-- partial(todolist) -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script><script  src="./todolist.js"></script>
    </head>

    <%= yield %>

  </body>
</html>
